[include macros/*.cfg]
[include config/*.cfg]

[include fluidd.cfg]


[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_0490020DE808BA95F0AA8060C52000F5-if00


[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.29
position_endstop: 0
homing_speed: 50
second_homing_speed: 1
homing_retract_dist: 2.0
position_min: -7
position_endstop: -6
position_max: 246

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.28
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.27
position_endstop: 0.0
position_max: 300

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 40

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 260
min_extrude_temp: 0
max_extrude_cross_section: 99999
max_extrude_only_distance: 9999

#[extruder1]
#step_pin: P1.15
#dir_pin: P1.14
#enable_pin: !P1.16
#heater_pin: P2.4
#sensor_pin: P0.23
#...

# [heater_bed]
# heater_pin: P2.5
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: P0.25
# control: pid
# pid_Kp: 54.027
# pid_Ki: 0.770
# pid_Kd: 948.182
# min_temp: 0
# max_temp: 130

[fan]
pin: P2.3

[printer]
kinematics: cartesian
max_velocity: 1100
max_accel: 5000
max_z_accel: 5000
max_z_velocity: 1100
# max_z_accel: 100
# max_z_velocity: 15
